@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

.a {
  background-color:lightgray;
  height: 30vh;
  width:35vw;
  border: 2px solid black;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 33%;
}

#button {
  margin-bottom: 5px;
}

#setupBtn {
  margin-bottom: 5px;
}
